@media screen and (max-width: 1950px) {
  .containerMain {
    padding: 0 20vw;
  }
  header {
    padding: 1vh 2vw;
  }
}
@media screen and (max-width: 1500px) {
  header {
    padding: 1vh 20vw;
  }
  .containerMain {
    padding: 0 10vw;
  }
}
@media screen and (max-width: 2203px) {
  .beforeNoon,
  .afterNoon {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 13px 5px;
    white-space: nowrap;
    width: 1000px;
    justify-content: start;
  }
  .timeSelect {
    padding: 0;
  }
}
@media screen and (max-width: 1303px) {
  .beforeNoon,
  .afterNoon {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 13px 5px;
    white-space: nowrap;
    width: 1000px;
    justify-content: start;
  }
  .timeSelect {
    padding: 0;
  }
}
@media screen and (max-width: 940px) {
  .calendar {
    width: 600px;
  }
}
@media screen and (max-width: 850px) {
  header {
    padding-right: 20px;
    padding-left: 150px;
    height: 140px;
  }
  .department {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 740px) {
  .selectDepartment {
    padding: 10px 140px;
  }
  .dropdown p {
    margin-left: -240px;
  }
  .listDepartment > button {
    flex: 0 1 calc(50% - 10px);
    max-width: 300px;
  }
  .calendar {
    width: 530px;
  }
}
@media screen and (max-width: 630px) {
  .data .hn {
    font-size: 20px;
    font-weight: 400;
  }
  .data .name {
    font-size: 22px;
    font-weight: 500;
  }
  .calendar {
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  header {
    padding-left: 100px;
  }
  .containerMain {
    padding: 0 2vw;
  }
  tr {
    color:#092551;
    font-weight: 500;
  }
  td {
    font-size: 14px;
  }
}
@media screen and (max-width: 580px) {
  header {
    padding-left: 10px;
    padding-top: 20px;
    align-items: start;
    height: 130px;
  }

  .data .hn {
    font-size: 17px;
    font-weight: 400;
  }
  .data .name {
    font-size: 20px;
    font-weight: 600;
  }
}
@media screen and (max-width: 500px) {
  header {
    padding-left: 10px;
    padding-top: 20px;
    align-items: start;
    height: 130px;
  }
  .selectDepartment {
    font-size: 12px;
    padding: 10px 100px;
  }
  .logo {
    margin-top: -40px;
  }
  .date-box {
    font-size: 1.3em;
    width: 75px;
    height: 110px;
  }
  .dateNumber {
    font-size: 1.7rem;
  }
  .department {
    width: 100%;
    border-radius: 20px;
  }
  .listDepartment {
    gap: 9px;
  }
  .listDepartment > button {
    padding: 10px;
    font-size: 14px;
  }
  .listDepartment > button > svg {
    width: 30px;
    height: 30px;
  }
  .data .hn {
    font-size: 17px;
    font-weight: 400;
  }
  .data .name {
    font-size: 20px;
    font-weight: 600;
  }
}
@media screen and (max-width: 430px) {
  .selectDepartment {
    padding: 10px 0;
    width: 100%;
  }
  .calendar th,
  .calendar td {
    font-size: 15px;
    padding: 10px 5px;
  }
}
@media screen and (max-width: 400px) {
  header {
    padding: 0;
    padding-top: 20px;
    height: 130px;
  }
  .containerMain {
    padding: 0;
    border-radius: 15px;
  }
  .data .hn {
    font-size: 17px;
    font-weight: 400;
  }
  .data .name {
    font-size: 17px;
    font-weight: 600;
  }
  .selectDepartment {
    font-size: 10px;
  }
  .dropdown p {
    font-size: 12px;
    margin-left: -180px;
  }
  .logo {
    padding: 50px;
  }
  .contenthead .logo img {
    width: 200px;
  }
  .listDepartment > button {
    padding: 10px;
    font-size: 12px;
  }
  .history {
    font-size: 13px;
    margin-right: 10px;
  }
  .date-box {
    margin: 2px;
  }
  .calendar th,
  .calendar td {
    font-size: 15px;
    padding: 10px 5px;
  }
  .calendar {
    width: 360px;
  }
}

/* ---------------------------height----------------------------- */

@media screen and (max-height: 760px) {
  .department {
    margin-top: 20px;
    overflow: auto;
  }
}
