@media screen and (max-width: 1950px) {
  .containerMain {
    padding: 0 20vw;
  }
  header {
    padding: 1vh 2vw;
  }
}
@media screen and (max-width: 1500px) {
  header {
    padding: 1vh 20vw;
  }
  .containerMain {
    padding: 0 10vw;
  }
}
@media screen and (max-width: 850px) {
  header {
    padding-right: 20px;
    padding-left: 150px;
    height: 140px;
  }
  .department {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 740px) {
  .selectDepartment {
    padding: 10px 140px;
  }
  .dropdown p {
    margin-left: -240px;
  }
  .listDepartment > button {
    flex: 0 1 calc(50% - 10px);
    max-width: 300px;
  }
}
@media screen and (max-width: 600px) {
  header {
    padding-left: 100px;
  }
  .containerMain {
    padding: 0 2vw;
  }
}
@media screen and (max-width: 500px) {
  header {
    padding-left: 10px;
    padding-top: 20px;
    align-items: start;
    height: 130px;
  }
  .selectDepartment {
    font-size: 12px;
    padding: 10px 100px;
  }
  .logo {
    margin-top: -40px;
  }
  .date-box {
    font-size: 1.3em;
    width: 75px;
    height: 110px;
  }
  .dateNumber {
    font-size: 1.7rem;
  }
  .department {
    width: 100%;
    border-radius: 20px;
  }
  .listDepartment {
    gap: 9px;
  }
  .listDepartment > button {
    padding: 10px;
    font-size: 14px;
  }
  .listDepartment > button > svg {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 400px) {
  header {
    padding: 0;
    padding-top: 20px;
    height: 130px;
  }
  .containerMain {
    padding: 0;
    border-radius: 15px;
  }
  .data .hn {
    font-size: 17px;
    font-weight: 400;
  }
  .data .name {
    font-size: 23px;
    font-weight: 500;
  }
  .selectDepartment {
    font-size: 10px;
  }
  .dropdown p {
    font-size: 12px;
    margin-left: -180px;
  }
  .logo {
    padding: 50px;
  }
  .contenthead .logo img {
    width: 200px;
  }
  .listDepartment > button {
    padding: 10px;
    font-size: 12px;
  }
  .history {
    font-size: 13px;
    margin-right: 10px;
  }
  .date-box {
    margin: 2px;
  }
}