@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: "Kanit", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: "Poppins", sans-serif; */
* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Kanit", sans-serif;
}

/* All width: 430 height: 932 */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1vh 35vw;
  background: rgb(0, 75, 143);
  background: linear-gradient(
    270deg,
    rgba(0, 75, 143, 1) 0%,
    rgba(42, 189, 255, 1) 100%
  );
  color: #fff;
  height: 160px;
  /* padding-bottom: 30px; */
  /* margin-bottom: 50px; */
}
.data {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: -30px;
  line-height: 28px;
  flex-direction: column;
  margin-left: -30px;
}
header .dataMain h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
.dataMain {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 84px;
}
.data .name {
  font-size: 28px;
  font-weight: 600;
}
.data .hn {
  font-size: 20px;
  font-weight: 500;
}
.data .dropdown {
  font-size: 10px;
  border: 0px solid #00000000;
}
.containerMain {
  background-color: #ffffff;
  border-radius: 25px 25px 0 0;
  /* margin-top: -20px; */
  height: auto;
  padding: 0 30vw;
  margin-top: -20px;
}

.contenthead {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-right: 6vw;
  padding-top: 10px;
}
.language {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  margin-right: 10px;
}
.logo {
  background-color: rgb(255, 255, 255);
  padding: 60px;
  border-radius: 999px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -4vh;
}
.contenthead .logo img {
  width: 280px;
  /* padding: 20px; */
}
.textSelectTime {
  color: #0a5491;
}
.textHead {
  font-size: 2rem;
  color: #0a5491;
}
.dropdownLang {
  width: 85px;
  border-radius: 999px;
  height: 30px;
  font-size: 12px;
  font-weight: 400;
  background-color: #162e71;
  color: #fff;
  border: 0px solid #00000000;
}
.dropdown {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.selectDepartment {
  border: 1px solid #173a9b;
  padding: 10px 200px;
  color: #162e71;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}
select {
  width: 100%;
  height: 50px;
  border: 1px solid #0a5491;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #156db5;
}
.department option {
  padding: 20px;
  z-index: -1;
}
.selectTime {
  padding: 8px 25px;
}
.dropdown p {
  color: #162e71;
  background-color: #fff;
  margin-bottom: -13px;
  margin-left: -300px;
  z-index: 999;
  padding: 5px 7px;
}
.dataReserve > p {
  font-size: 1.3rem;
  font-weight: 700;
  padding-left: 26px;
  color: #0a588b;
}
.text {
  font-size: 1.3rem;
  font-weight: 700;
  padding-left: 26px;
  color: #0a588b;
  margin-top: 10px;
}
.dataReserve img {
  width: 60px;
  padding-right: 20px;
}
.dataSelect {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}
.dataSelect p {
  font-size: 2.2rem;
  font-weight: 600;
  color: #0a588b;
}
.dateList {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  padding-top: 15px;
}
.dateList p {
  color: #fff;
  font-weight: 300;
  text-align: center;
  padding: 0;
  font-size: 1.5rem;
}
.dayOne,
.dayFour,
.dayThree,
.dayTwo {
  background-color: #125f9e;
  width: 80%;
  margin: 3px;
  border-radius: 10px;
  padding: 20px 10px;
}

.dateList h2 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
.selectTime {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* เพิ่มระยะห่างระหว่างคอลัมน์ */
  padding: 13px 10px;
  overflow-y: scroll;
  scrollbar-width: 40px;
  height: 300px;
  margin-top: 80px;
}

.time {
  flex: 1 1 calc(33.333% - 10px); /* สามคอลัมน์ */
  box-sizing: border-box;
  padding: 5px 20px;
  background-color: #a8a6a6;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}
.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.submit button {
  border: none;
  background-color: #0367bf;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px 35px;
  border-radius: 14px;
}

.date-box {
  display: inline-block;
  width: 90px;
  height: 120px;
  padding: 30px 0;
  border: none;
  background-color: #0367bf;
  margin: 5px;
  text-align: center;
  line-height: 18px;
  font-size: 1.5em;
  color: #fff;
  border-radius: 14px;
}
.date-box > div {
  cursor: pointer;
}
.date-box:hover {
  background-color: #024783;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.dateNumber {
  font-size: 2rem;
  font-weight: 500;
}

#nextDates,
#prevDates {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
#nextDates svg {
  fill: #4f4f4f;
  justify-content: end;
}
#prevDates svg {
  justify-content: start;
  fill: #4f4f4f;
}
#nextDates:hover,
#prevDates:hover {
  scale: 0.8;
  transition: 0.2s;
}
#monthDisplay {
  width: auto;
  color: #0a5491;
  margin-left: 20px;
}
.headText {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headText a {
  color: #0a5491;
  padding: 5px 10px;
  border: 1px solid #0a5491;
  border-radius: 10px;
}
.dataMonthHead {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.dataMonthHead p {
  width: auto;
  margin: 0 30px;
}
.dataMonthHead img {
  width: 45px;
  height: auto;
  padding: 0;
}

.contentButton {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.contentButton button {
  background-color: #c0c0c0;
  width: 130px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
}

.contentButton button:hover {
  background-color: #0a8b0e;
}
.buttonDate.active {
  background-color: #3e8e41; /* สีที่ต้องการเมื่อค้าง */
}
/* .buttonDate.active {
  background-color: #4CAF50; สีพื้นหลังเมื่อถูกคลิก 
} */
.timeSelected > div {
  background-color: #fff;
  color: #024783;
  border: 1px solid #024783;
  border-radius: 10px;
  height: 50px;
  margin: 0 40px;
  margin-bottom: 100px;
  padding: 5px 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.timeSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: #fff;
}

.containerDepartment {
  /* width: 60%; */
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.department {
  border-radius: 10px;
  box-shadow: 1px 1px 12px #3a839c4a;
  background-color: #fff;
  position: fixed;
  padding: 10px 50px;
  padding-bottom: 30px;
  width: 90%;
  height: auto;
  z-index: 999;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* border: 1px solid #042c4f4b; */
}
.contentList {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.listDepartment {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 15px;
  width: 100%;
}
.departmentItem {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 3px 4px 8px #75a1c58f;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  gap: 10px;
  /* min-width: 200px; */
  flex: 1 1 30%;
  max-width: 30%;
  border: none;
  font-size: 16px;
  text-align: center;
  color: #162e71;
}
/* .departmentItem:hover {
  background-color: #125f9e;
  color: #fff;
} */
.clicked {
  background-color: #024783;
  color: #ffffff;
}
/* .listDepartment > button:hover > svg {
  background-color: #ffffff;
} */

.listDepartment > button > svg {
  color: #074478;
  background-color: #a4c2dbc2;
  padding: 6px;
  border-radius: 4px;
  width: 40px;
  fill: #074478;
  height: 40px;
  stroke: #074478;
}

.headDepart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 8px;
}
.headDepart p {
  font-size: 1.5rem;
  color: #162e71;
  font-weight: 500;
}
.headDepart span {
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.headDepart span:hover {
  scale: 0.89;
  transition: 0.3s;
}
.listSubmit {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}
.listSubmit button {
  border: none;
  background-color: #024783;
  color: #fff;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 5px;
  transition: 0.3s;
}
.listSubmit button:hover {
  transition: 0.3s;
  background-color: #042c4f;
}

#cancle {
  background-color: transparent;
  border: 1px solid #162e71;
  color: #162e71;
}
#cancle:hover {
  background-color: #042c4f4c;
  color: #fff;
  transition: 0.3s;
  border-color: #fff;
}
